@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Helios";
	src: url("./fonts/heliosBlack.woff2") format("woff2"),
		url("./fonts/heliosBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Helios";
	src: url("./fonts/helios.woff2") format("woff2"),
		url("./fonts/helios.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Helios";
	src: url("./fonts/heliosBold.woff2") format("woff2"),
		url("./fonts/heliosBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Helios";
	src: url("./fonts/heliosBoldItalic.woff2") format("woff2"),
		url("./fonts/heliosBoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Helios";
	src: url("./fonts/heliosItalic.woff2") format("woff2"),
		url("./fonts/heliosItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

* {
	box-sizing: border-box;
}
html {
	background: #293a3d;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
	@apply font-serif;
	color: white;
}

label {
	@apply m-4;
	@apply text-3xl;
	@apply font-light;
}

input,
textarea {
	@apply font-sans;
	@apply text-xl;
	@apply p-4;
	@apply rounded-xl;
	@apply text-white;
	@apply w-full;
	outline: none;
	background: #11111150;
}
textarea {
	min-height: 100px;
}
input::placeholder,
textarea::placeholder {
	color: #ffffff60;
}

blockquote p {
	font-size: 2.5rem !important;
	line-height: 2.5rem !important;
}
.outline-text {
	-webkit-text-stroke: 2px white;
	-webkit-text-fill-color: transparent;
}

code {
	background: #11111177;
	padding: 2px 4px;
	border-radius: 4px;
	color: rgb(179, 110, 206);
}

.custom-list li {
	margin: 10px 0;
}

.footer-grid {
	grid-template-areas:
		"bbc cnn projects about"
		"cred cred contact lost";
}

.footer-grid .cnn {
	grid-area: cnn;
}
.footer-grid .bbc {
	grid-area: bbc;
}
.footer-grid .projects {
	grid-area: projects;
}
.footer-grid .about {
	grid-area: about;
}
.footer-grid .cred {
	grid-area: cred;
}
.footer-grid .contact {
	grid-area: contact;
}
.footer-grid .lost {
	grid-area: lost;
}

@keyframes emoji-spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.post:hover span {
	animation: emoji-spin 8s infinite linear;
}

.footer-grid a:hover span {
	animation: emoji-spin 8s infinite linear;
}

@media only screen and (min-width: 639px) {
	#highlights a:last-child {
		border-right: 0;
	}

	#mac .window:nth-child(3n) {
		align-self: center;
	}
	#mac .window:nth-child(3n + 1) {
		align-self: flex-start;
	}
	#mac .window:nth-child(3n + 2) {
		align-self: flex-end;
	}
}

@media only screen and (max-width: 639px) {
	html {
		background: #1d2021;
	}
	Nav {
		backdrop-filter: blur(80px);
	}
	.footer-grid {
		grid-template-areas:
			"bbc cnn"
			"projects about"
			"contact lost";
	}
	#highlights a:nth-child(odd) {
		border-right: 0;
	}
	#webHighlights img:nth-child(2) {
		display: none;
	}
	#mac .window {
		align-self: center;
	}
	#sidebar {
		border-radius: 1rem 1rem 0 0;
	}
	.outline-text {
		-webkit-text-stroke: 1px white;
	}
	blockquote p {
		font-size: 2rem !important;
		line-height: 2rem !important;
	}
	input,
	textarea {
		@apply text-lg;
		height: max-content;
	}
	label {
		@apply mr-4;
		@apply mt-3;
		@apply ml-0;
		@apply mb-0;
	}
}
