@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Helios";
	src: url("./fonts/heliosBlack.woff2") format("woff2"),
		url("./fonts/heliosBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Helios";
	src: url("./fonts/helios.woff2") format("woff2"),
		url("./fonts/helios.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Helios";
	src: url("./fonts/heliosBold.woff2") format("woff2"),
		url("./fonts/heliosBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Helios";
	src: url("./fonts/heliosBoldItalic.woff2") format("woff2"),
		url("./fonts/heliosBoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Helios";
	src: url("./fonts/heliosItalic.woff2") format("woff2"),
		url("./fonts/heliosItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	@apply font-serif;
	color: white;
}
html {
	background: #111;
}

@media only screen and (min-width: 639px) {
	#highlights a:last-child {
		border-right: 0;
	}

	#mac .window:nth-child(3n) {
		align-self: center;
	}
	#mac .window:nth-child(3n + 1) {
		align-self: flex-start;
	}
	#mac .window:nth-child(3n + 2) {
		align-self: flex-end;
	}
}

@media only screen and (max-width: 639px) {
	Nav {
		backdrop-filter: blur(80px);
		padding-top: calc(0.5rem + env(safe-area-inset-top));
		height: calc(4rem + env(safe-area-inset-top));
	}
	#highlights a:nth-child(odd) {
		border-right: 0;
	}
	#webHighlights img:nth-child(2) {
		display: none;
	}
	#mac .window {
		align-self: center;
	}
	#sidebar {
		border-radius: 1rem 1rem 0 0;
	}
}
